maps/
salicon/
.ipynb_checkpoints/
__pycache__/
salicon_images
images_128
images_64
data/
results/
analyse*
results
results1
salicon_data_provider.ipyng
PConv-Keras/__pycache__
PConv-Keras/DeepReconstructer
PConv-Keras/notebooks
PConv-Keras/pconv_imagenet.h5
PConv-Keras/pytorch_to_keras_vgg16.h5